@import './variables';

*:focus {
  outline: none !important;
}

body, html {
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
  box-sizing: border-box;
}

.full-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.panel-content {
  padding: 5px;
}

.panel-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.font {
  z-index: 1000;
}

// common class
.alert-danger {
  color: red;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

// material card style
md-card-title {
  font-size: 18px !important;
}

md-card {
  padding: 12px !important;
  margin-bottom: 5px;
  md-card-header {
    //background: $favorite;
  }
}

md-card-actions {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

// material dialog style
md-dialog-container {
  padding: 0 !important;
}

.dialog-buttons {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

//modal outline style (focus시 파란 영역 제거)
css-dialog-container.vex-content {
  outline: none !important;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px !important;
  padding-bottom: 20px !important;
}

.remove-outline-btn {
  outline: none !important;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px !important;
}

.w100p {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-items-baseline {
  align-items: baseline;
}

.flex-direction-column {
  flex-direction: column;
}

.align-items-start {
  align-items: flex-start;
}

.datepicker input {
  width: auto;
}

// modal위에서 ng2-input autocomplete 를 사용하기 위해 사용
.ng2-dropdown-menu-container {
  z-index: 1600 !important;
}

.ng2-tag-input__text-input {
  border-bottom: 0px !important;
}

//google autocomplete z-index
.pac-container.pac-logo {
  z-index: 9999;
}

//sidenav animation
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#crop-modal {
  height: 665px;
  .label-container {
    width: 100%;
    div:first-child {
      font-size: 34px;
      color: #f55069;
    }
    div:last-child {
      margin-top: 5px;
      font-size: 16px;
      color: #000000;
    }
  }
  .crop-container {
    canvas {
      margin: 25px 0;
      width: 100%;
    }
  }
  .crop-modal-btngroup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button:first-child {
      width: 150px;
      min-width: 150px;
      height: 50px;
      background-color: #ffffff;
      color: #d8d8d8;
      border: 1px solid #d8d8d8;
      border-radius: 1px;
      font-size: 16px;
      font-weight: 100;
    }
    button:last-child {
      width: 150px;
      min-width: 150px;
      height: 50px;
      margin-left: 10px;
      background-color: #40434a;
      color: #ffffff;
      border-radius: 1px;
      font-size: 16px;
      font-weight: 100;
    }
  }
}

.inner-content {
  margin: auto;
  width: 940px;
  min-width: 940px;
  max-width: 940px;
}

.to-be-developed {
  width: 96%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: #ffffff;
  margin-top: 200px;
}

.place-holder-display {
  color: $grey8;
}

.strcount {
  padding-right: 5px;
  font-size: 16px;
  color: $grey7;
  flex-grow: 0 !important;
}

/**
IE 11 Quill style
 */

.ql-formats {
  svg {
    height: 24px;
  }
}

.drop-info {
  width: 100%;
  font-size: 12px;
  word-wrap: break-word;
}

.stat-info {
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
  white-space: pre;
  line-height: 180%;
}

body::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;
  overflow: auto;
}

[hidden] {
  display: none!important;
}