$content-width: 60%;

studentmanage-detail {
  #studentmanage-detail {
	  .header-container {
		  width:100%;
		  height: 23vw;
		  position: relative;
		  display: flex;
		  flex-direction: column;
		  background-image: url('assets//img/main_intro.png');
		  background-position-y: 0;
		  background-size: 100%;
		  background-repeat: no-repeat;
		  .user-action-wrapper {
			  display: flex;
			  justify-content: flex-end;
			  margin-top: 30px;
			  margin-right: 120px;
			  > span {
				  font-size: 13px;
				  font-weight: 900;
				  color: $white;
				  margin-right: 20px;
				  cursor: pointer;
			  }
		  }
		  .title-wrapper {
			  display: flex;
			  flex-direction: column;
			  margin: auto auto;
			  > div:first-child {
				  color: $white;
				  font-size: 2.3vw;
				  font-weight: 400;
				  margin-right: 340px;
				  margin-bottom: 25px;
			  }
			  > div:last-child {
				  color: $white;
				  font-size: 3.5vw;
				  font-weight: 900;
				  margin-left: 130px;
			  }
		  }
	  }

    .student-detail-container {
      width: 100%;
      height: 100%;
      .center-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .center-first-panel {
					position: relative;
					margin-top: 100px;
					height: 100px;
					width: $content-width;
          display: flex;
          flex-direction: column;
					>div:first-child{
						font-size: 40px;
						font-weight: 600;
						text-align: left;
					}
					>div:last-child{
						font-size: 16px;
						text-align: right;
						cursor: pointer;
					}
        }

        .center-second-panel {
					position: relative;
					width: $content-width;
          display: flex;
          flex-direction: row;
					align-items: center;
					border-top: 2px solid black;
					border-bottom: 2px solid black;
					li{
						margin: 10px 0px;
					}
					>li:first-child{
						width: 50%;
					}
				}
				.center-third-panel{
					width: $content-width;
					table{
						width: 100%;
						border-collapse:collapse;
						tr{
							border-bottom: 1px solid $grey5;
							height: 50px;
							line-height: 50px;
							&:last-child{
								height: 100px;
								li{
									height: 35px;
								}
							}
						}
						th{
							background-color: $grey4;
							text-align: left;
							padding-left: 30px;
						}
						td{
							padding-left: 30px;
						}
					}
				}
				.center-forth-panel{
					width: $content-width;
					// start list
					.list-panel {
						.grid-header {
							width: 100%;
							display: flex;
							justify-content: space-between;
							align-items: center;
							border-bottom: 1px solid $grey6;
							margin-top: 80px;

							.grid-header-cell {
								flex-grow: 1;
								text-align: left;
								font-size: 18px;
								color: $sub1;
								font-weight: 600;
							}
						}
						.grid-body {
							width: 100%;
							height: 100%;
							background-color: $grey2;
							.grid-row {
								height: 100%;
								display: flex;
								justify-content: space-between;
								align-items: center;
								margin: 0 30px;
								padding: 30px 0;
								border-bottom: 1px solid $grey4;
								&:last-child {
									border-bottom: none;
								}
								> div:first-child {
									width: 70%;
									display: flex;
									flex-direction: row;
									align-items: baseline;
									> p:first-child {
										font-weight: 600;
									}
									> span:nth-child(2) {
										margin-left: 10px;
										margin-right: 10px;
									}
									> p:last-child {
										font-weight:400;
									}
									> input:last-child {
										width: 75%;
										height: 24px;
										padding-left: 1%;
										font-size: 16px;
										color: $sub1;
										&::-webkit-input-placeholder {
											font-size: 16px;
										}
										&:-moz-placeholder {
											font-size: 16px;
										}
										&::-moz-placeholder {
											font-size: 16px;
										}
									}
								}
								> div:last-child {
									width: 30%;
									display: flex;
									flex-direction: row;
									align-items: center;
									justify-content: flex-end;
									color: $grey9;
									font-weight:400;
									> span:first-child {
										cursor:pointer;
										font-size: 15px;
									}
									> span:nth-child(2) {
										margin-left: 8px;
										margin-right: 8px;
										font-size: 15px;
									}
									> span:nth-child(3) {
										cursor:pointer;
										font-size: 15px;
									}
									> p:last-child {
										margin-left: 20px;
									}
								}

							}
						}
						.grid-footer {
							width: 100%;
							display: flex;
							justify-content: space-between;
							align-items: center;
							.total-count {
								margin-left: 40px;
								color: $grey5;
								font-size: 15px;
								font-weight: 100;
							}
							pager {
								li {
									button {
										width: 30px;
										height: 30px;
										border-radius: 100px;
										background-color: transparent;
										border: solid 1px $grey5;
										display: flex;
										justify-content: center;
										align-items: center;
										color: $grey5 !important;
										padding: 0;
										font-size: 12px;
										cursor: pointer;
									}

								}
								li:hover {
									button {
										//background-color: $grey1;
										border: solid 1px $positive;
										color: $positive !important;
									}
								}

								li.active {
									button {
										background-color: $positive;
										border: solid 1px $positive;
										color: white !important;
									}
								}
								li.action {
									button {
										border: none;
										i {
										}
									}
									.prevEnd {
										width: 30px;
										height: 30px;
										background-image: url('/assets/img/ic_left_all_black.png');
										background-repeat: no-repeat;
										background-size: auto 15px;
										background-position-x: 7px;
										background-position-y: 7px;
									}

									.nextEnd {
										width: 30px;
										height: 30px;
										background-image: url('/assets/img/ic_right_all_black.png');
										background-repeat: no-repeat;
										background-size: auto 15px;
										background-position-x: 10px;
										background-position-y: 7px;
									}
									.prev1 {
										width: 30px;
										height: 30px;
										background-image: url('/assets/img/ic_left_black.png');
										background-repeat: no-repeat;
										background-size: auto 15px;
										background-position-x: 10px;
										background-position-y: 7px;
									}
									.next1 {
										width: 30px;
										height: 30px;
										background-image: url('/assets/img/ic_right_black.png');
										background-repeat: no-repeat;
										background-size: auto 15px;
										background-position-x: 13px;
										background-position-y: 7px;
									}
								}
								li.action.disabled {
									.prevEnd {
										background-image: url('/assets/img/ic_left_all_grey.png');
									}
									.nextEnd {
										background-image: url('/assets/img/ic_right_all_grey.png');
									}
									.prev1 {
										background-image: url('/assets/img/ic_left_grey.png');
									}
									.next1 {
										background-image: url('/assets/img/ic_right_grey.png');
									}
								}
							}
						}

						.search-post {
							display: flex;
							justify-content: center;
							margin-top: 50px;
							margin-bottom: 400px;
							> select {
								width: 120px;
								height: 32px;
								padding-left: 12px;
								border: 1px solid $grey5;
								border-radius: 0px; /* iOS 둥근모서리 제거 */
								font-size: 14px;
								color: $black;
								-webkit-appearance: none;
								-moz-appearance: none;
								appearance: none;
								background: url('assets//img/ic_arrow_down.png') no-repeat 94% 50%;
							}
							> select::-ms-expand {
								display: none;
							}

							> input {
								width: 25%;
								padding-left: 1%;
								margin-left: 1%;
								height: 26px;
								font-size: 16px;
								color: $sub1;
								&::-webkit-input-placeholder {font-size: 16px;}
								&:-moz-placeholder {font-size: 16px;}
								&::-moz-placeholder {font-size: 16px;}
							}

							.icon-btn {
								width: 7%;
								height: 32px;
								margin-left: 1%;
								background-color: $main1;
								cursor: pointer;
								.mat-button-wrapper {
									span:first-child {
										margin-top: 1px;
										font-size: 16px;
										font-weight: 500;
										color: #ffffff;
									}
								}
							}
						}
					}
					// end list
				}

				.center-fifth-panel{
					display: flex;
					flex-direction: row;
					width: $content-width;
					height: 100px;
					border: 1px solid $grey4;
					margin-bottom: 300px;
					li{
						&:first-child{
							width: 90%;
							textarea{
								width: 100%;
								height: 100%;
								padding: 20px;
								font-size: 16px;
							}
						}
						&:last-child{
							width: 10%;
							background-color: $main1;
							padding: 20px;
							color: #FFFFFF;
							text-align: center;
							cursor: pointer;
							i{
								font-size:30px;
								margin-bottom: 10px;
							}
						}
					}
				}

			}



      .footer-wrapper {
        width: 100%;
        background-color: $grey2;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        padding-top: 100px;
        padding-bottom: 50px;
        .footer-item {
          width: 15%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          > div:first-child {
            font-size: 30px;
            color: $grey5;
            font-weight: 200;
          }
          > div:nth-child(2) {
            width: 180px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            color: $white;
            font-size: 18px;
            font-weight: 600;
            background-color: $sub1;
          }
          > div:nth-child(3), div:nth-child(4), div:nth-child(5), div:last-child {
            font-size: 15px;
            font-weight: 500;
            color: $sub1;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
