$content-width: 52%;

user-find {
	#user-find {
		.header-container {
			width: 100%;
			height: 23vw;
			position: relative;
			display: flex;
			flex-direction: column;
			background-image: url('~/assets//img/main_intro.png');
			background-position-y: 0;
			background-size: 100%;
			background-repeat: no-repeat;
			.user-action-wrapper {
				display: flex;
				justify-content: flex-end;
				margin-top: 30px;
				margin-right: 120px;
				> span {
					font-size: 13px;
					font-weight: 900;
					color: $white;
					margin-right: 20px;
					cursor: pointer;
				}
			}
			.title-wrapper {
				display: flex;
				flex-direction: column;
				margin: auto auto;
				> div:first-child {
					color: $white;
					font-size: 2.3vw;
					font-weight: 400;
					margin-right: 340px;
					margin-bottom: 25px;
				}
				> div:last-child {
					color: $white;
					font-size: 3.5vw;
					font-weight: 900;
					margin-left: 130px;
				}
			}
		}

		.user-find-container {
			width: 100%;
			height: 100%;
			.center-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				.center-first-panel {
					position: relative;
					width: $content-width;
					margin-top: 100px;
					margin-bottom: 20px;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					font-size: 14px;
					font-weight: 600;

				}
				.center-second-panel {
					position: relative;
					width: $content-width;
					display: flex;
					justify-content: center;
					flex-direction: row;
					align-items: center;
					border: 1px solid $grey5;
					padding: 30px;
					ul {
						width: 64%;
						li {
							&:nth-child(1) {
								font-size: 20px;
								font-weight: 600;
								padding: 10px 0;
								border-bottom: 2px solid black;
							}
							&.id-finder {
								> div {
									display: flex;
									justify-content: center;
									flex-direction: row;
									align-items: flex-start;
									border-bottom: 1px solid $grey6;
									width: 100%;
									div {
										height: 60px;
										&:nth-child(1) {
											font-size: 14px;
											font-weight: 600;
											width: 20%;
											background-color: $grey3;
											line-height: 60px;
											padding-left: 25px;
										}
										&:nth-child(2) {
											width: 80%;
											padding: 10px 0px;
											text-align: center;
											input {
												width: 80%;
												height: 35px;
												padding-left: 10px;
												font-size: 14px;
											}
										}
									}
								}
							}
							&.id-fail {
								text-align: right;
								color: $sub5;
								padding: 10px 0px;
								font-size: 14px;
							}
							&.id-res {
								text-align: center;
								padding: 30px;
								strong {
									color: $main1;
								}
							}
							&:last-child {
								display: flex;
								align: center;
								> button {
									margin: 20px auto;
									width: 120px;
									height: 35px;
									border-radius: 7px;
									background-color: $grey8;
									color: #FFFFFF;
									font-size: 18px;
									font-weight: 600;
								}
							}
						}
					}
				}

				.center-third-panel {
					display: flex;
					justify-content: center;
					width: $content-width;
					border: 1px solid $grey5;
					padding: 30px;
					margin-top: 50px;
					margin-bottom: 100px;
					> form {
						width: 64%;
						display: flex;
						flex-direction: column;
						.label-area {
							display: flex;
							align-items: flex-end;
							justify-content: space-between;
							padding-bottom: 30px;
							border-bottom: 2px solid black;
							> div:first-child {
								font-size: 20px;
								font-weight: 600;
							}
							> div:last-child {
								font-size: 14px;
							}
						}

						.password-input-area {
							display: flex;
							align-items: center;
							border-bottom: 1px solid $grey6;
							> div:first-child {
								width: 20%;
								height: 60px;
								display: flex;
								justify-content: center;
								align-items: center;
								font-size: 14px;
								font-weight: 600;
								background-color: $grey3;
							}
							> div:last-child {
								width: 80%;
								height: 60px;
								display: flex;
								justify-content: center;
								align-items: center;
								> input {
									width: 80%;
									height: 35px;
									padding-left: 10px;
									font-size: 14px;
								}

							}
						}
						button.send-btn {
							width: 120px;
							height: 35px;
							display: flex;
							align-items: center;
							justify-content: center;
							margin: 20px auto;
							border-radius: 7px;
							background-color: $grey8;
							color: #FFFFFF;
							font-weight: 600;
							font-size: 18px;
						}

						&.forget-password-check > .label-area {
							display: flex;
							align-items: center;
							justify-content: space-between;
							> div:first-child {
								font-size: 14px;
							}
							> button:last-child {
								width: 100px;
								height: 32px;
								display: flex;
								align-items: center;
								justify-content: center;
								border-radius: 7px;
								background-color: $grey7;
								color: #FFFFFF;
								font-weight: 600;
								font-size: 14px;
							}
						}
					}
				}

			}

			.footer-wrapper {
				width: 100%;
				background-color: $grey2;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				flex-direction: row;
				padding-top: 100px;
				padding-bottom: 50px;
				.footer-item {
					width: 15%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					> div:first-child {
						font-size: 30px;
						color: $grey5;
						font-weight: 200;
					}
					> div:nth-child(2) {
						width: 180px;
						height: 50px;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-bottom: 30px;
						color: $white;
						font-size: 18px;
						font-weight: 600;
						background-color: $sub1;
					}
					> div:nth-child(3), div:nth-child(4), div:nth-child(5), div:last-child {
						font-size: 15px;
						font-weight: 500;
						color: $sub1;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}
